<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title Page-->
    <title>List Groups</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" />

    <!-- Fontfaces CSS-->
    <link href="../css/font-face.css" rel="stylesheet" media="all">
    <link href="../vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="../vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="../vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../css/theme.css" rel="stylesheet" media="all">
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar2">
        <div class="logo">
            <a href="#">
                <img src="../images/icon/logo-white.png" alt="Cool Admin" />
            </a>
        </div>
        <div class="menu-sidebar2__content js-scrollbar1">
            <nav class="navbar-sidebar2">
                <ul class="list-unstyled navbar__list">
                    <li class="has-sub">
                        <a href="/blog"/><i class="fas fa-table"></i>Blogs</a>
                    </li>
                    <li class="active has-sub">
                        <a href="/tag"><i class="fas fa-table"></i>Tags</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container2">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop2">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap2">
                        <div class="logo d-block d-lg-none">
                            <a href="#">
                                <img src="../images/icon/logo-white.png" alt="CoolAdmin" />
                            </a>
                        </div>
                        <div class="header-button2">
                            <div class="header-button-item mr-0 js-sidebar-btn">
                                <i class="zmdi zmdi-menu"></i>
                            </div>
                            <div class="setting-menu js-right-sidebar d-none d-lg-block">
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="/logout"><i class="fas fa-sign-out-alt mr-3"></i>Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
            <div class="logo">
                <a href="#">
                    <img src="../images/icon/logo-white.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar2__content js-scrollbar2">
                <nav class="navbar-sidebar2">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a href="/blog"/><i class="fas fa-table"></i>Blogs</a>
                        </li>
                        <li class="has-sub">
                            <a href="/tag"/><i class="fas fa-table"></i>Tags</a>
                        </li>
                        <li class="has-sub">
                            <a href="/logout"/><i class="fas fa-sign-out-alt mr-3"></i>Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END HEADER DESKTOP-->

        <!-- BREADCRUMB-->
        <section class="au-breadcrumb m-t-75">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="au-breadcrumb-content">
                                <div class="au-breadcrumb-left mt-1">
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                                        <i class="zmdi zmdi-plus mr-1"></i>New Tag</button>
                                </div>
                                <div class="au-breadcrumb-right m-b-10">
                                    <a class="btn btn-primary btn-sm" href="/blog">Home page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END BREADCRUMB-->

        <section>
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row m-t-30">
                        <div class="col-md-12">
                            <!-- DATA TABLE-->
                            <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3" id="dataTable">
                                </table>
                            </div>
                            <!-- END DATA TABLE-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END PAGE CONTAINER-->
    </div>

    <!-- Modal Create -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Create new tag</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="myForm">
                        <div class="row form-tag">
                            <div class="col-3">
                                <label>Name</label>
                            </div>
                            <div class="col-9">
                                <input type="text" id="name" name="name" class="form-control" required>
                                <p style="color: red;display: none" class="ui-state-error-text"></p>
                            </div>
                        </div>
                        <div class="row form-tag">
                            <div class="col-9">
                                <input type="hidden" id="id" class="form-control" required>
                            </div>
                        </div>
                        <div class="row form-tag">
                            <div class="col-9">
                                <input type="hidden" id="active" value="1" class="form-control" required>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" onclick="return tag.create()"
                                   id="submit" value="Save">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<!-- Datatable JS-->
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

<script>
    var tag = {} || tag;
    tag.drawTable = function () {
        $("#dataTable").DataTable({
            "lengthMenu": [5, 10, 20, 50],
            ajax: {
                url: 'http://localhost:8080/api/tag',
                method: "GET",
                datatype: "json",
                dataSrc: ""
            },
            columns: [
                { data: "id" , name: "id", title: "ID",orderable: true},
                { data: "name", name : "name" , title: "Name", sortable: true},
                { data: "active", name : "active" , title: "Active", "render": function (data) {
                        if (data === 1) {
                            return "Yes";
                        }
                        if (data === 0) {
                            return "No";
                        }
                    }
                },
                { data: "id", name : "Action", title : "Action",sortable: false,
                    orderable: false ,"render": function ( data, type, row, meta ) {
                        var str = "<a href='javascript:;' title='Edit' onclick='tag.get("+ data +")' data-toggle=\"modal\" data-target=\"#myModal\" style=\"color: darkorange\">" +
                            "<i class='fa fa-edit mr-1'></i>Edit</a> " +
                            "<a class='ml-1' href='javascript:;' title='Remove' onclick='tag.remove("+ data +")'  style=\"color: red\">" +
                            "<i class='fa fa-trash mr-1'></i>Delete</a>"
                        return str ;
                    }
                }
            ]
        });
    };

    tag.remove = function (id) {
        bootbox.confirm({
            message: "Do you want to delete this blog?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: "http://localhost:8080/api/tag/" + id,
                        method: "DELETE", //"POST"
                        dataType: 'json',
                        success: function (data) {
                            tag.reloadTable();
                            toastr.warning('Tag has been deleted successfully', 'INFORMATION:')
                        }
                    });
                }
            }
        });
    }

    tag.create = function () {
        if ($('#myForm').valid()) {
            var newTag = {};
            newTag.name = $('#name').val();
            newTag.active = $('#active').val();
            if($('#id').val() === '') { //Add new
                $.ajax({
                    url: "http://localhost:8080/api/tag",
                    method: "POST", //"POST"
                    dataType: 'json',
                    contentType: "application/json",
                    data: JSON.stringify(newTag),
                    success: function (data) {
                        $('#myModal').modal('hide');
                        tag.reloadTable();
                        toastr.success('Tag has been created successfully', 'INFORMATION:');
                    }
                })
            } else {
                newTag.id = $('#id').val();
                $.ajax({
                    url: "http://localhost:8080/api/tag",
                    method: "PUT",
                    dataType: 'json',
                    contentType: "application/json",
                    data: JSON.stringify(newTag),
                    success: function (data) {
                        $('#myModal').modal('hide');
                        tag.reloadTable();
                        toastr.success('Tag has been updated successfully', 'INFORMATION:');
                    }
                });
            }
        }
        tag.reset();
        return false;
    }

    tag.get = function (id) {
        $.ajax({
            url: `http://localhost:8080/api/tag/${id}`,
            method: "GET",
            dateType: "json",
            success: function (data) {
                $('#id').val(data.id);
                $('#name').val(data.name);
                $('#active').val(data.active);
                $('#myModal').find('.modal-title').text('Update tag');
                $('#submit').text("Update");
            }
        })
    }

    tag.reset = function () {
        $('#name').val('');
        $('#myModal').find('.modal-title').text('Create new tag');
        $('#submit').text("Save");
    }

    tag.reloadTable = function () {
        $("#dataTable").DataTable().ajax.reload();
    }

    $(document).ready(function () {
        tag.drawTable();
        $('#myForm').validate({
            rules: {
                name: {
                    required: true,
                    minlength: 5,
                    maxlength: 30,
                },
            },
            messages: {
                name: "Please input your name!!!",
            }
        });
    });

    $.validator.addMethod(
        "regex",
        function(value, element, regexp) {
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        },
        "Please check your input."
    );
</script>
</body>

</html>
<!-- end document-->
